body{
    background-color: brown;
}
.div{
    display:flex;
    flex-wrap: wrap;
    margin-right: 
}
img{
    height: 150px;
    width: 200px;
    padding: 5px;
    margin: 5px;
    margin-right: 25px;
    border: solid 3px;
    border-color: black;
    border-radius: 50%;
}
h1{
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-align: center;
}
@media(max-width:425px){

}